--index-url https://pypi.python.org/simple/

# For running PyLag
mpi4py
numpy>=1.18
scipy>=1.4.1
cython>=0.29
progressbar
natsort
netCDF4
cftime>=1.1
configparser
stripy
pyproj
shapely

# For testing
pytest

